
<div class="footer-dark">
<div class="container">
<div id="footer-bottom-widgets">
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3 onscroll-animate" data-delay="200">
<div class="widget m-b-40 clearfix widget_text text-12"><h3 class="widget_title">Working Time</h3>
<div class="textwidget"><p>Monday Friday: <span class="highlight">08:00 am - 08:30 pm</span><br>
Saturday Sunday: <span class="highlight">10:00 am - 16:30 pm</span></p></div></div></div>
<div class="col-xs-12 col-sm-6 col-md-3 onscroll-animate" data-delay="300"><div class="widget m-b-40 clearfix widget_text text-13">
<h3 class="widget_title">Happy Hours</h3>
<div class="textwidget"><p>Join us for Happy Hour!<br>
Enjoy discount pastry goods.<br>
<span class="highlight">8:00 pm-5:00 pm Daily</span>
</p></div></div></div>


<div class="col-xs-12 col-sm-6 col-md-3 onscroll-animate" data-delay="400"><div class="widget m-b-40 clearfix widget_text text-14"><h3 class="widget_title">Follow us</h3>      <div class="textwidget"><div class="social-icon-container"><a href="http://facebook.com/" target="_self"><i class="fa fa-facebook"></i></a></div>
<div class="social-icon-container"><a href="http://www.twitter.com/" target="_self"><i class="fa fa-twitter"></i></a></div>
<div class="social-icon-container"><a href="#" target="_self"><i class="fa fa-rss"></i></a></div>
<div class="social-icon-container"><a href="http://www.pinterest.com/" target="_self"><i class="fa fa-pinterest"></i></a></div>
<div class="social-icon-container"><a href="http://www.linkedin.com/" target="_self"><i class="fa fa-linkedin"></i></a></div></div>
</div></div>

<div class="col-xs-12 col-sm-6 col-md-3 onscroll-animate" data-delay="500"><div class="widget m-b-40 clearfix widget_text text-15"><h3 class="widget_title">Contact Us</h3><a name="contactus"></a>     <div class="textwidget"><p class="has-icon"><i class="fa fa-phone"></i>Phone</p>
<p class="has-icon"><i class="fa fa-location-arrow"></i>Adress</p>
<p class="has-icon"><i class="fa fa-envelope"></i> info@annpastry.com</p>
<p class="has-icon"><i class="fa fa-globe"></i> www.annpastry.com </p></div>
    </div></div>              </div>
            </div>
                    
                    <p class="site-info">2015 All rights reserved. Powered by <a href="#" target="_blank">AnnPastry</a></p>
          
                      <a href="" class="to-top scroll-to" id="scroller"></a>
                  </div>
</div><!-- /footer-dark -->
</footer>




<script type="text/javascript">
/* <![CDATA[ */
var vu_config = {"ajaxurl":"http:\/\/themes.milingona.co\/bakery\/default\/wp-admin\/admin-ajax.php","home_url":"http:\/\/themes.milingona.co\/bakery\/default"};
/* ]]> */
</script>
<script type="text/javascript" src="./assets/js/main.js"></script>
<script type="text/javascript" src="./assets/js/magnific-popup.js"></script>

</body></html>