<div class="row row-fluid"><div class="clearfix "><div class="container no-padding">
  <div class="col-sm-12 col-middle ">
    <div class="wpb_wrapper">
    <header class="section-header alignment-center vu_overline">
      <h2><span>Our latest products</span><a name="products"></a></h2>
      <p>Check some of our best products and feel the great passion for food</p>
    </header>
    <div class="vu_sh-products m-b-50">
      <div class="row">
        <div class="vu_sh_p-carousel vu_owl-carousel owl-carousel owl-theme" data-options="{&quot;singleItem&quot;:false,&quot;items&quot;:4,&quot;navigation&quot;:false,&quot;navigationText&quot;:false,&quot;pagination&quot;:true,&quot;autoHeight&quot;:true,&quot;scrollPerPage&quot;:true,&quot;autoPlay&quot;:false,&quot;stopOnHover&quot;:true}" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer autoHeight" style="height: 748px;">

  {{#each products}}
    <div class="vu_product-item-container col-xs-12 col-sm-6 col-md-3">
      <article class="vu_product-item post-45 portfolio-item type-portfolio-item status-publish has-post-thumbnail hentry portfolio-category-cookies portfolio-tag-cookie" data-id="45">
      <div class="vu_pi-image">
        <img width="570" height="760" src="/assets/img/products/{{home_image}}" class="attachment-ratio-3:4 wp-post-image" alt="{{name}}">    </div>
      <div class="vu_pi-container">
        <div class="vu_pi-icons">
          <a href="/assets/img/products/{{home_image}}" title="Cookie" class="vu_pi-icon vu_lightbox"> <i class="fa fa-search"></i></a>
          <a href="products/{{page}}.html" class="vu_pi-icon"><i class="fa fa-link"></i></a>
          <a href="#" class="vu_pi-icon"><i class="fa fa-shopping-cart"></i></a>
        </div>
        <div class="vu_pi-content">
          <h3 class="vu_pi-name"><a href="#">{{name}}</a></h3>
          <span class="vu_pi-category">{{category}}</span>
          <div class="vu_pi-price"><span class="amount">{{price}}</span></div>
        </div>
      </div>
      </article>
  </div>
  {{/each}}



  </div>
</div>